* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100svh;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(375deg, lightblue, #0d2466);
}

.window {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #c1c1c0;
  width: 405px;
  height: 155x;
  margin: 20px;
  box-shadow: 3px 3px 1px rgba(012, 12, 12, 0.45);
}

.inner {
  padding: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

p {
  font-size: 13.6px;
}

.head {
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(90deg, #0d2466, lightblue);
  height: 30px;
  color: white;
  font-weight: 700;
}

.head::after {
  margin-left: 15px;
  content: "Kernel panic";
}

img {
  border-radius: 50%;
  box-shadow: 2px 2px 2px #353535;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}

button {
  background-color: #c1c1c0;
  height: 35px;
  width: 70px;
  font-weight: bold;

  cursor: pointer;
}

button:active {
  border-color: #353535 white white #353535;
}

.border {
  border: 3px solid;
  border-radius: 3px;
  border-color: #ffffff #353535 #353535 #ffffff;
}
